@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap");

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --gray-blue: hsl(217, 19%, 38%);
  --dark-grey-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope";
  font-weight: 800;
  background-color: var(--dark-grey-blue);
}

.container-center {
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 50%;
  text-align: center;
  background-color: var(--gray-blue);
  width: 50%;
  border-radius: 10px;
}

.advice-id {
  color: var(--neon-green);
  margin-bottom: 5%;
}

.random-advice {
  color: var(--light-cyan);
}

.dissapear-text {
  font-size: 28px;
  color: var(--light-cyan);
}

.dice-button {
  margin-top: 10%;
  padding: 15px;
  border-radius: 50px;
  background-color: var(--neon-green);
}

.dice-button:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.9);
  transform: translateY(-2px);
  background-color: hsl(150, 100%, 45%);
}

.flex-span {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.line {
  border: 1px solid var(--light-cyan);
  width: 35%;
  margin-top: 7.5%;
}

.vertical-lines {
  color: var(--light-cyan);
  font-size: 38px;
}

@media screen and (max-width: 480px) {
  .container {
    margin-top: 50%;
    text-align: center;
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    margin-top: 5%;
    text-align: center;
  }

  .vertical-lines {
    margin-top: 5.5%;
  }
}
